* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
}

body {
  background: #fff;
  overflow-x: hidden;
}

.list-body {
  display: flex;
}

/* ----------------------------------------------- */
/* LIST STYLE */
/* ----------------------------------------------- */

.list-container {
  margin-left: 20px;
  margin-right: 20px;
  background: #f7f6ff;
  width: 100%;
}

.list-card-container {
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px;
  transition: 0.2s;
}

.list-card{
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  border: solid 1px #e4e7f0;
  transition: border-width 0.1s linear;
  width: 700px;
  padding: 10px;
}

.list-card:hover {
  border: solid 2px #7868E6;
  border-width: 2px;
}

.list-content {
  display: flex;
  align-items: center;
}

.list-img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.list-img {
  width:  150px;
  margin: 10px 20px 10px 10px;
}

.list-details h3{
  line-height: 1.25;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 4px;
}

.list-details .person-icon {
  font-size: 10px;
  color: gray;
}

.list-details h4 {
  font-size: 10px;
  color: gray;
  margin-bottom: 5px;
}

.list-details p {
    font-size: 13px;
    line-height: 1.5;
    padding-bottom: 8px;
    text-align: left;
    color: #7b91b1;;
}

.list-header-container {
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.list-header {
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  width: 700px;
  padding: 10px;
}

.text-content {
  display: flex;
}

.list-text {
  height: auto;
  display: flex;
  align-items: center;
  font-size: 12pt;
  font-weight: 800;
}

.list-text span {
  margin-left: 10px;
  color: #7868E6;
}

.sort {
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  font-size: 12pt;
  font-weight: 800;
  flex: 1 1 0%;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.sort span {
  margin-right: 10px;
}

.select-dropdown {
  cursor: pointer;
  padding: 4px 4px;
  border: solid 1px #e4e7f0;
  border-radius: 25px;
}

.select-dropdown:focus,
.select-dropdown:hover {
  outline: none;
  border: 1px solid #bbbbbb;
}

.select-dropdown option {
  background:  #fff;
}

.search-bar {
  margin: 50px 0 25px 0;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.search-form-box {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  width: 700px;
  padding: 10px;
}

.search-field {
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
}

.search-form {
  display: flex;
}

.business {
  width: 400px;
  padding-left: 24px;
}

.input-location {
  width: 200px;
  padding-left: 24px;
}

.search-btn {
  cursor: pointer;
  font-weight: 800;
  height: 40px;
  width: 80px;
  background: #968ae3;
  border: none;
  color: #000;
  border-radius: 25px;
}

.search-btn:hover {
  background:#7868E6;
}
/* ----------------------------------------------- */
/* JOB STYLE */
/* ----------------------------------------------- */

.job-card-container {
  align-items: center;
  display: flex;
  margin: 20px;
}

.job-card {
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  border: solid 1px #e4e7f0;
  transition: border-width 0.1s linear;
  width: 700px;
  padding: 15px;
}

.job-card:hover {
  border: solid 2px #7868E6;
  border-width: 2px;
}

.job-content {
  display: flex;
  align-items: center;
}

.job-content h5 {
  font-weight: 400;
  margin-left: 25px;
}

.job-content h3 {
  font-size: 14px;
}

.job-content p {
  font-size: 14px;
  color: gray;
}

.location{
  font-size: 14px;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.job-content .place-icon {
  font-size: 14px;
  color: black;
}

.animations.job-container {
  animation: fadeout 0.1s 1 linear;
}

.animations.job-details {
  animation: fadeout 0.1s 1 linear;
}

@keyframes fadeout {
  from {opacity: 0;
        height: 0;
        transform: translateY(30px) scale(0.8);
  }
  to {opacity: 1;
    height: 100px;  
    transform: translateY(0px) scale(1);
  }
}

.job-details {
  margin-top: 10px;
  line-height: 25px;
}

.tag-link {
  display: flex;
  align-items: center;
}

.link {
  font-size: 14px;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.job-details span {
  font-size: 14px;
}

.job-details p {
  font-size: 11px;
}

.job-details a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  background: rgb(0, 136, 255);
  border-radius: 5px;
  padding: 3px 10px 3px 10px;
  transition: .1s;
}

.job-details a:hover {
  background: rgb(0, 108, 203);;
}

/* ----------------------------------------------- */
/* SIDEBAR */
/* ----------------------------------------------- */

.sidebar {
  flex: 0.2;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  height: calc(100vh - 64px);
  color: #7868E6;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #7868E6;
  margin-right: auto;
  height: 70px;
  padding: 10px;
  font-size: 12px;
  font-weight: 800;
  margin-left: 25px;
  cursor: pointer;
}

.sidebar a h1 {
  margin: 15px 0 50px 25px;
}

/* ----------------------------------------------- */
/* SIDEBAR OPTION */
/* ----------------------------------------------- */

.sidebaroption {
  display: flex;
  align-items: center;
  color: grey;
  height: 60px;
  cursor: pointer;
  transition: 200ms color ease-in;
}

.sidebaroption:hover {
  color: #7868E6;
}
.sidebaroption-icon {
  margin:0 10px 0 25px;
}

.sidebaroption p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
.sidebaroption p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}

/* ----------------------------------------------- */
/* PROFILE BAR */
/* ----------------------------------------------- */

.profile-bar {
  flex: 0.2;
  min-width: 230px;
  padding-left: 10px;
  height: 100vh;
  padding-right: 10px;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

.profile-content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.profile-img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.profile-img {
  width:  40px;
  margin: 10px 0px 10px 0px;
}

.user-name {
  margin-left: 10px;
  cursor: pointer;
}

.user-name h3{
  font-size: 11px;
}

.user-name span {
  font-size: 10px;
  color: #7b91b1;
}

.profile-bar hr {
  border: 1px solid #282828;
  width: 90%;
  margin-top: 10px;
}

.filter-title {
  font-size: 20px;
}

/* ----------------------------------------------- */
/* FILTER */
/* ----------------------------------------------- */

.salary-section {
  margin:25px 0 20px 0;
}

.location-section {
  margin: 25px 0 20px 0;
}

/* ----------------------------------------------- */
/* MOBILE */
/* ----------------------------------------------- */
@media only screen and (max-width: 768px) {

.list-card {
  width: 400px;
}

.list-content {
  display: block;
}

.list-img {
  width: 50px;
}

.job-content {
  display: block;
  line-height: 30px;
}

.job-content h5 {
  margin: 0;
}

.location {
  display: block;
}

.tag-link {
  display: block;
}

.link {
  display: inline-flex;
}

.sidebar {
  display: none;
}

.profile-bar {
  display: none;
}

.search-bar {
  display: none;
}

.list-container {
  margin: 0;
}

.list-text {
  font-size: 10px;
}
.sort {
  font-size: 10px;
}
}

